<!--<ul class="nav nav-pills nav-stacked facet-list">
    <li class="active"><a href="" data-toggle="tab">All ({{facet.count}})</a></li>
    {{#each facet.mainfacet.options}}
        <li><a href="#" data-href="&facet={{this.type}}:{{this.link}}" data-toggle="tab">{{this.label}} ({{this.count}})</a></li>
    {{/each}}
</ul>-->
{{#each facet.facets}}
    {{#if more}}
    <div class="facet-group">
    {{else}}
    <div class="facet-group show-all">
    {{/if}}
    <span class="facet-label">{{label}}</span>
    <ul class="facet-options">
    {{#each options}}
        <li><a href="#" data-href="&facet={{type}}:{{link}}" data-target="pane">{{label}} <span class="facet-count">({{count}})</span></a></li>
    {{/each}}
    {{#if more}}
        <li class="show-more"><a href="#">{{more}} more options</a></li>
    {{/if}}
    </ul>
    </div>
{{/each}}
