<!--<ul class="nav nav-pills nav-stacked facet-list">
    <li class="active"><a href="" data-toggle="tab">All ({{data.count}})</a></li>
    {{#each data.mainfacet.options}}
        <li><a href="#" data-href="&facet={{link}}" data-toggle="tab">{{label}} ({{count}})</a></li>
    {{/each}}
</ul>-->
{{#each data.facets}}
    <div class="facet-group">
    <span class="facet-label">{{label}}</span>
    {{#if more}}
    <ul class="facet-options">
    {{else}}
    <ul class="facet-options show-all">
    {{/if}}
    {{#each options}}
        <li><a href="#" data-href="&facet={{link}}" data-target="pane">{{label}} <span class="facet-count">({{count}})</span></a></li>
    {{/each}}
    {{#if more}}
        <li class="show-more"><a href="#">{{more}} more options</a></li>
    {{/if}}
    </ul>
    </div>
{{/each}}
