<li data-id="{{schema}}_{{name}}"><a data-schema="{{schema}}" data-name="{{name}}" href="/admin/fields/{{schema}}/{{name}}">{{label}}</a>
{{#if children.length}}
    <ul>
        {{#each children}}
            {{>fieldhierarchy}}
        {{/each}}
    </ul>
{{/if}}
</li>
