{{#each records}}
    <tr class="resultRow" data-id="{{id}}">
        <td class="result-number">
            <a class="record-number-link" href="/record/{{id}}" id="result{{number}}">{{number}}<br>{{#tr 'action.viewrecord'}}view record{{/tr}}</a>
        </td>
        <td class="result-content">
            <div itemscope id="recordContainer_{{id}}" class="recordtype_Book recordContainer">
                {{{rendered}}}
            </div>
            <button title="{{#tr 'action.showwholerecord'}}Show whole record{{/tr}}" class="preview tray btn btn-link">
                <i class="chevrons-left"></i>
                <div><i class="tray-bar"></i></div>
                <i class="chevrons-right"></i>
            </button>
            <div class="resultToolbar">
            </div>
        </td>
        <td class="recordPane">
            <button title="{{#tr 'action.exploreknowledgetrail'}}Explore this record's knowledge trail{{/tr}}" class="explore-links btn btn-link"><i class="explore-icon"></i></button>
            <button title="{{#tr 'action.marklandmark'}}Mark landmark{{/tr}}" class="mark-landmark btn btn-link"><i class="landmark-icon"></i></button>
        </td>
    </tr>
{{/each}}
