<div class="results" data-href="{{url}}">
<span class="background"></span>
<h4 class="summary">
{{summary}}
</h4>
{{#if query.facets}}
<div class="row-fluid">
    <div class="span10 facets">
        <span class="facet-label">Limits</span>
            {{#each query.facets}}
                &gt; <span class="selected-facet"><span class="facet-label">{{label}}</span><span class="facet-value">{{value}}</span> <sub><a title="Remove {{label}} facet" class="remove-facet" data-facet="{{link}}" href="#">x</a></sub></span>
            {{/each}}
        </span>
    </div>
{{/if}}
{{#if sortings}}
<div class="row-fluid">
    <div class="span10 offset2">
        <span class="sort-label">Sort</span> &gt;
        {{#with sortings}}
            {{#each used}}
                <span class="sort-facet">{{label}} <sub><a title="Remove {{label}} sort" class="remove-sort">x</a></sub></span> &gt;
            {{/each}}
            {{#if available}}
                <span data-toggle="dropdown-select" class="button-dropdown white">
                    <select id="add-sort">
                        <option data-placeholder="true">-- add sort --</option>
                        {{#each available}}
                            <option value="{{schema}}_{{field}}">{{label}}</option>
                        {{/each}}
                    </select>
                </span>
            {{/if}}
        {{/with}}
    </div>
</div>
{{/if}}
<div class="row-fluid">
    {{#if facet}}
        <div class="span2">
            {{>facets}}
        </div>
    {{else}}
        <div class="span2" data-template="facets" data-message="{{facetpub}}">
            Loading facets
        </div>
    {{/if}}
    <div class="span10">
    <table id="recordList" class="table">
        <thead>
            <tr class="header-hidden"><th>Number</th><th>Record</th><th>Actions</th></tr>
        </thead>
        <tbody>
        {{> resultstable}}
        <tr id="showmore">
            <td>&nbsp;</td>
            <td><a data-offset="20" href="{{url}}">Show more</a></td>
        </tr>
        </tbody>
    </table>
    </div>
</div>
</div>
