{{#each records}}
    <tr class="resultRow" data-id="{{id}}">
        <td class="result-number">
            <a class="record-number-link" href="/record/{{id}}" id="result{{number}}">{{number}}<br>{{#trhtml 'action.viewrecord'}}view record{{/trhtml}}</a>
        </td>
        <td class="result-content">
            <div itemscope id="recordContainer_{{id}}" class="recordtype_Book recordContainer">
                {{{rendered}}}
            </div>
            <div class="image-gallery">
                <ul class="image-gallery-thumbnails thumbnails">
                    {{#each media}}
                        <li data-id="{{@key}}"><a class="thumbnail" href="/media/{{recordid}}/{{@key}}" data-id="{{@key}}"><img src="/media/{{recordid}}/{{@key}}" title="{{description}}"/></a></li>
                    {{/each}}
                </ul>
            </div>
            <button title="{{#tr 'action.showwholerecord'}}Show whole record{{/tr}}" class="preview tray btn btn-link">
                <i class="chevrons-left"></i>
                <div><i class="tray-bar"><span class="expand-label">{{#trhtml 'label.moreellipsis'}}More...{{/trhtml}}</span><span class="collapse-label">{{#trhtml 'label.lessellipsis'}}Less...{{/trhtml}}</span></i></div>
                <i class="chevrons-right"></i>
            </button>
            <div class="resultToolbar">
            </div>
        </td>
        <td class="recordPane">
            <button title="{{#tr 'action.exploreknowledgetrail'}}Explore this record's knowledge trail{{/tr}}" class="explore-links btn btn-link"><i class="explore-icon"></i></button>
            <button title="{{#tr 'action.marklandmark'}}Mark landmark{{/tr}}" class="mark-landmark btn btn-link"><i class="landmark-icon"></i></button>
        </td>
    </tr>
{{/each}}
