<div class="results">
<span class="background"></span>
<h4 class="summary">
{{summary}}
</h4>
{{#if sortings}}
<div class="row-fluid">
    <div class="span10 offset2">
        <span class="sort-label">Sort</span> &gt;
        {{#with sortings}}
            {{#each used}}
                <span class="sort-facet">{{label}} <sub><a title="Remove {{label}} sort" class="remove-sort">x</a></sub></span> &gt;
            {{/each}}
            {{#if available}}
                <span data-toggle="dropdown-select" class="button-dropdown white">
                    <select id="add-sort">
                        <option data-placeholder="true">-- add sort --</option>
                        {{#each available}}
                            <option value="{{schema}}_{{field}}">{{label}}</option>
                        {{/each}}
                    </select>
                </span>
            {{/if}}
        {{/with}}
    </div>
</div>
{{/if}}
<div class="row-fluid">
    <div class="span10 offset2">
        <div class="header-shown resultcount">Showing {{count}} of {{total}} records.</div>
    </div>
</div>
<div class="row-fluid">
    <div class="span2">
        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#all" data-toggle="tab">All ({{count}})</a></li>
            {{#each mainfacet}}
            <li><a href="#{{@key}}" data-toggle="tab">{{@key}} ({{this}})</a></li>
            {{/each}}
        </ul>
    </div>
    <div class="span10">
    <table id="recordList" class="table">
        <thead>
            <tr class="header-hidden"><th>Number</th><th>Record</th><th>Actions</th></tr>
        </thead>
        <tbody>
        {{#each records}}
            <tr class="resultRow" data-id="{{id}}">
                <td class="result-number">
                    <a class="record-number-link" href="/record/{{id}}">{{number}}<br>view record</a>
                </td>
                <td class="result-content">
                    <div itemscope id="recordContainer_{{id}}" class="recordtype_Book recordContainer">
                        {{{rendered}}}
                        <div class="recordPreviewArea">
                            <div class="recordRemainder"></div>
                        </div>
                    </div>
                    <button title="Show whole record" class="preview tray btn btn-link">
                        <i class="chevrons-left"></i>
                        <div><i class="tray-bar"></i></div>
                        <i class="chevrons-right"></i>
                    </button>
                    <div class="resultToolbar">
                    </div>
                </td>
                <td class="recordPane">
                    <button title="Explore this record's knowledge trail" class="explore-links btn btn-link"><i class="explore-icon"></i></button>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    {{{paginator}}}
    <div class="result-size">Show <span data-toggle="dropdown-select" class="button-dropdown white">
        <select id="perpage" name="perpage">
            <option value="2">2</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
        </span> records
    </div>
    </div>
</div>
</div>
