<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{title}}</title>
        <script type="text/javascript">
            for(var e,l='article aside footer header nav section time'.split(' ');e=l.pop();document.createElement(e));
        </script>

        <link href="/css/typeahead.js-bootstrap.css" media="all" type="text/css" rel="stylesheet">
        {{{block 'styles'}}}
        <!--<link rel="stylesheet/less" type="text/css" href="/css/style.less" />
        <script type="text/javascript">
            less = {
                env: "development", // or "production"
                     async: false,       // load imports async
                     fileAsync: false,   // load imports async when in a page under
                                         // a file protocol
                     poll: 1000,         // when in watch mode, time in ms between polls
                     functions: {},      // user functions, keyed by name
                     dumpLineNumbers: "comments", // or "mediaQuery" or "all"
                     relativeUrls: false,// whether to adjust url's to be relative
                                         // if false, url's are already relative to the
                                         // entry less file
            };
        </script>
        <script src="/lib/js/less.min.js"></script>-->
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
        <!--[if lt IE 9]>
            <link rel="stylesheet" type="text/css" href="/css/style-ie.css" />
        <![endif]-->
    </head>

    <body class="show-help {{view}}-view">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="brand" href="/">Biblionarrator</a>
                    <div class="navbar-controls">
                        <ul class="nav pull-left">
                            {{#if user.permission.edit_record}}
                            <li class="dropdown">
                                <a href="#" id="dropdown-new" data-toggle="dropdown" class="dropdown-toggle">{{#tr 'action.new'}}New{{/tr}} <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="/record/new" id="new-blank" class="new-record">{{#tr 'action.blankrecord'}}Blank record{{/tr}}</a></li>
                                    <li class="divider"></li>
                                    <li><span>{{#tr 'label.templates'}}Templates{{/tr}}</span></li>
                                    {{#templates}}
                                        <li><a href="/record/new/template/{{id}}" id="new-template-{{id}}" class="new-record">{{name}}</a></li>
                                    {{/templates}}
                                </ul>
                            </li>
                            {{/if}}
                            <li class=""><a class="caret-before" href="/search">{{#tr 'action.search'}}Search{{/tr}}</a></li>
                            <!--<li class="hidden-phone dropdown">
                                <a href="#" class="dropdown-toggle caret-after" data-toggle="dropdown"><b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><span>Saved searches</span></li>
                                </ul>
                            </li>-->
                            <li class="divider-vertical"></li>
                            <li class="visible-desktop visible-tablet"><form class="navbar-search" action="/search" method="get" accept-charset="UTF-8">
                                <input type="text" class="search-query" name="q" placeholder="{{#tr 'label.quicksearch'}}Quick search{{/tr}}" value="{{query.original}}"></input><button class="search-button" type="submit"><i class="icon-search icon-white"></i></button>
                            </form></li>
                        </ul>
                        <ul class="nav pull-right">
                            <!--<li class="dropdown visible-desktop"><a class="show-bookmarks" href="#"><i class="icon-bookmark icon-white"></i><span class="bookmark-count">{{bookmarks.length}}</span></a>
                            <ul id="bookmark-dropdown" class="dropdown-menu"><li><span id="bookmark-message"></span></li></ul>
                            </li>-->
                            <li class="dropdown">
                                <a href="/auth/login" class="hidden-desktop"><i class="icon-user icon-white"></i></a>
                                <a href="#" class="dropdown-toggle visible-desktop" data-toggle="dropdown">
                                    <i class="icon-user icon-white"></i><b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    {{#if user}}
                                        <li><span>{{user.email}}</span></li>
                                        <li><a href="/user/settings">{{#tr 'label.settings'}}Settings{{/tr}}</a></li>
                                        <li><a href="/user/templates">{{#tr 'label.mytemplates'}}My templates{{/tr}}</a></li>
                                        <li class="divider"></li>
                                        <li><a href="/auth/logout">{{#tr 'action.signout'}}Sign out{{/tr}}</a></li>
                                    {{else}}
                                        <form id="navbarLogin" action="/auth/login" method="post" accept-charset="UTF-8">
                                            <input id="navbarLoginUser" type="text" name="username" placeholder="{{#tr 'label.username'}}Username{{/tr}}"></input>
                                            <input id="navbarLoginPassword" type="password" name="password" placeholder="{{#tr 'label.password'}}Password{{/tr}}"></input>
                                            <input type="hidden" name="redirect" value="{{url}}"></input>
                                            <button id="navbarLoginSubmit" class="btn btn-primary btn-small" type="submit">{{#tr 'action.signin'}}Sign in{{/tr}}</button>
                                        </form>
                                    {{/if}}
                                </ul>
                            </li>
                            {{#if user}}
                            <li class="dropdown visible-desktop">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-wrench icon-white"></i><b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    {{#if user.permission.edit_admin}}
                                    <li><a href="/admin">{{#tr 'label.administration'}}Administration{{/tr}}</a></li>
                                    {{/if}}
                                    {{#if user.permission.edit_field}}
                                    <li><a href="/admin/fields">{{#tr 'label.fields'}}Fields{{/tr}}</a></li>
                                    {{/if}}
                                    {{#if user.permission.edit_user}}
                                    <li><a href="/admin/user">{{#tr 'label.users'}}Users{{/tr}}</a></li>
                                    {{/if}}
                                    {{#if user.permission.edit_collection}}
                                    <li><a href="/admin/collection">{{#tr 'label.collections'}}Collections{{/tr}}</a></li>
                                    {{/if}}
                                    {{#if user.permission.edit_recordtypes}}
                                    <li><a href="/admin/recordtype">{{#tr 'label.recordtypes'}}Record types{{/tr}}</a></li>
                                    {{/if}}
                                    {{#if user.permission.edit_settings}}
                                    <li><a href="/admin/settings">{{#tr 'label.settings'}}Settings{{/tr}}</a></li>
                                    {{/if}}
                                    {{#if user.permission.edit_templates}}
                                    <li><a href="/admin/templates">{{#tr 'label.templates'}}Templates{{/tr}}</a></li>
                                    {{/if}}
                                </ul>
                            </li>
                            {{/if}}
                            {{#if translations}}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-globe icon-white"></i><b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><span>{{#tr 'label.changelanguage'}}Change language{{/tr}}</span></li>
                                {{#each translations}}
                                    <li><a href="#">{{t this ns='language'}} ({{this}})</a></li>
                                {{/each}}
                                </ul>
                            </li>
                            {{/if}}
                            <li class="dropdown visible-desktop">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-question-sign icon-white"></i><b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><label class="checkbox"><input type="checkbox" id="show-help" checked="checked" data-toggle="cookie-view" data-default="enabled" data-cookie="show_help" data-class="show-help" data-target="body">{{#tr 'label.showhelp'}}Show help{{/tr}}</input></label></li>
                                    <li><a href="/help">{{#tr 'label.help'}}Help{{/tr}}</a></li>
                                    <li><a href="/about">{{#tr 'label.about'}}About{{/tr}}</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>

        {{{body}}}

        <!--<nav class="navbar navbar-fixed-bottom hidden-desktop">
            <div class="navbar-inner">
            <ul class="nav">
                <li><a class="show-bookmarks" href="#">{{#tr 'label.bookmarks'}}Bookmarks{{/tr}}
                    <span class="bookmark-count">{{bookmarks.length}}</span></a></li>
                {{#if user}}
                    <li><a href="/user/settings">{{#tr 'label.settings'}}Settings{{/tr}}</a></li>
                {{else}}
                    <li><a href="/auth/login">{{#tr 'action.login'}}Log in{{/tr}}</a></li>
                {{/if}}
                {{#if user.permission.edit_admin}}
                    <li><a href="/admin">{{#tr 'label.administration'}}Administration{{/tr}}</a></li>
                {{/if}}
                {{#if user}}
                    <li><span>{{user.email}}</span></li>
                {{/if}}
                <li><a href="/help">{{#tr 'label.help'}}Help{{/tr}}</a></li>
            </ul>
            </div>
        </nav>-->
        <!--<footer>
            <p class="copyright">&copy; C &amp; P Bibliography Services 2013</p>    
        </footer>-->
        <div id="confirm" data-autoclose="true" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="confirmLabel" aria-hidden="true">
            <div class="modal-header">
                <h3 id="confirmLabel"> confirmation</h3>
            </div>
            <div id="confirmBody" class="modal-body">
            </div>
            <div class="modal-footer">
                <button id="confirmCancel" class="btn" data-dismiss="modal" aria-hidden="true">{{#tr 'label.no'}}No{{/tr}}</button>
                <button id="confirmOK" class="btn btn-primary btn-ok">{{#tr 'label.yes'}}Yes{{/tr}}</button>
            </div>
        </div>
        {{{block 'modals'}}}
        
        <script src="https://login.persona.org/include.js" type="text/javascript"></script>
        <script src="/lib/js/jquery.js"></script>
        <script src="/lib/js/jquery.history.js"></script>
        <script src="/lib/js/jquery.form.js"></script>
        <script src="/js/biblionarrator.js"></script>
        <!--<script src="/js/bookmarks.js"></script>-->
        <script src="/lib/bootstrap/js/bootstrap.js"></script>
        <script src="/lib/js/typeahead.js"></script>
        <script src="/lib/js/modernizr-latest.js"></script>
        <script src="/lib/js/jquery.cookie.js"></script>
        <script src="/lib/js/sockjs-0.3.min.js"></script>
        <script src="/lib/js/d3.min.js"></script>
        <script src="/lib/js/colorbrewer.js"></script>
        <script src="/js/map.js"></script>
        <!--<script src="/lib/js/jquery.indexeddb.js"></script>-->
        {{{block 'javascript'}}}
        <script src="/lib/js/i18next.min.js"></script>
        <script src="/js/generated/environment.js"></script>
        <script src="/js/generated/formathandlers.js"></script>
        <script src="/js/generated/templates.js"></script>
        <script src="/js/generated/models.js"></script>
        <!--<script src="/svc/bndb_initializer.js"></script>-->
    </body>
</html>
