<ul id="controlbar-record" class="nav">
    <li><a href="#" id="toggleTOC" data-target="#table-of-contents" data-toggle="cookie-view" data-cookie="show_toc">TOC</a></li>
    {{#if user.permission.edit_record}}
    <li><a href="#" id="toggleEditor" data-target="#editor-toolbar" data-toggle="cookie-view" data-cookie="show_editor">Editor</a></li>
    {{/if}}
    <li><a href="#" id="toggle-tags" data-target="#recordContainer" data-toggle="cookie-view" data-cookie="show_tags" data-class="showtags">Show tags</a></li>
    <li class="divider-vertical"></li>
    </ul>
    {{#if user.permission.edit_record}}
    <ul id="editor-toolbar" class="nav">
        <li class="save-button"><a href="#" class="save-record caret-before">Save</a></li>
        <li class="save-button dropdown">
            <a href="#" id="dropdown-save" data-toggle="dropdown" class="caret-after dropdown-toggle"><b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#" class="save-record">Record</a></li>
                <li><a href="#" id="save-template" data-toggle="modal" data-target="#save-template-modal">As template</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" id="dropdown-options" data-toggle="dropdown" class="dropdown-toggle">Options <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li><a href="#" id="record-reload" class="self-url" data-toggle="confirm" data-confirm-label="Confirm reload" data-confirm-body="Are you certain you want to reload?">Reload</a></li>
                <li class="divider"></li>
                <li><a href="#" id="upload-image" data-toggle="modal" data-target="#upload-image-modal">Upload image</a></li>
                <li class="divider"></li>
                <li><a target="_blank" href="{{url}}/snippet?format=htmlnolink" class="self-url" id="download-citations-html">Download citation (HTML)</a></li>
                <li><a target="_blank" href="{{url}}?format=htmlnolink" class="self-url" id="download-full-html">Download full record (HTML)</a></li>
                <li class="divider"></li>
                <li><a href="{{url}}/delete" id="record-delete" data-toggle="confirm" data-confirm-label="Confirm delete" data-confirm-body="Are you certain you want to delete?" class="self-url">Delete</a></li>
            </ul>
        </li>
        <li class="divider-vertical"></li>
        <li id="tag-select" class="dropdown">
            <a href="#" id="tag" data-toggle="dropdown" class="dropdown-toggle">Tag <b class="caret"></b></a>
            <ul class="dropdown-menu">
                {{#fields}}
                <li><a href="#">{{label}}</a></li>
                {{/fields}}
            </ul>
        </li>
        <li><a href="#" id="untag">Untag</a></li>
        <li class="divider-vertical"></li>
        <li data-toggle="dropdown-select">
            <select id="recordtype-select" title="Record type: ">
                {{#recordtypes}}
                    <option value="{{id}}">{{name}}</option>
                {{/recordtypes}}
            </select>
        </li>
    </ul>
    {{/if}}
