<div id="content" class="container-fluid">
    <div class="row-fluid">
        <div class="span10 pull-right">
            <fieldset>
                <legend>{{#trhtml 'action.searchcatalogue'}}Search catalogue{{/trhtml}}</legend>
                <form class="form-horizontal" method="get" action="/search">
                    <div class="control-group">
                        <select name="q">
                            <option value="keyword:">Keyword</option>
                            {{#each fields}}
                                {{#if advanced}}{{#if label}}
                                <option value="{{name}}:">{{label}}</option>
                                {{/if}}{{/if}}
                            {{/each}}
                        </select>
                        <div class="input-prepend">
                            <span class="add-on">{{#trhtml 'label.contains'}}contains{{/trhtml}}</span>
                            <input type="text" name="q" id="q1"></input>
                        </div>
                    </div>
                    <div class="control-group">
                        <select name="q">
                            <option value="keyword:">Keyword</option>
                            {{#each fields}}
                                {{#if advanced}}{{#if label}}
                                <option value="{{name}}:">{{label}}</option>
                                {{/if}}{{/if}}
                            {{/each}}
                        </select>
                        <div class="input-prepend">
                            <span class="add-on">{{#trhtml 'label.contains'}}contains{{/trhtml}}</span>
                            <input type="text" name="q" id="q2"></input>
                        </div>
                    </div>
                    <div class="control-group">
                        <select name="q">
                            <option value="keyword:">Keyword</option>
                            {{#each fields}}
                                {{#if advanced}}{{#if label}}
                                <option value="{{name}}:">{{label}}</option>
                                {{/if}}{{/if}}
                            {{/each}}
                        </select>
                        <div class="input-prepend">
                            <span class="add-on">{{#trhtml 'label.contains'}}contains{{/trhtml}}</span>
                            <input type="text" name="q" id="q3"></input>
                        </div>
                    </div>
                    <button class="btn btn-inverse" type="submit"><i class="icon-search icon-white"></i> {{#trhtml 'action.search'}}Search{{/trhtml}}</button>
                </form>
            </fieldset>
        </div>
    </div>
</div>
