<nav class="navbar navbar-inverse navbar-fixed-bottom">
    <div id="controlbar" class="navbar-inner">
        <div class="container-fluid">
            {{> 'controlbars/record'}}
        </div>
    </div>
</nav>
<div id="content" class="container-fluid">
    <div class="row-fluid">
        <div class="span10 pull-right">
            <div class="row-fluid">
                <div class="span6">
                    <noscript>
                        <div class="alert alert-error">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{#tr 'message.editornojs'}}The record editor does not work without Javascript. Please enable Javascript and reload the page.{{/tr}}
                        </div>
                    </noscript>
                    <div itemscope id="recordContainer" class="recordtype_{{record.record_type}}">
                        {{{record.rendered}}}
                    </div>
                    <div><button id="add-section" class="btn btn-link">{{#tr 'label.addsection'}}Add section{{/tr}}</button></div>
                    <div id="alerts"></div>
                    <div class="instructions">
                        <span class="instruction-label">{{#tr 'label.hint'}}Hint:{{/tr}}</span>
                        {{#tr 'help:editor.hint'}}Use the first ("Citation") box for basic
                        citation information that should show up directly in the search
                        results. Use the other ("Expansion") boxes to enter additional
                        information, grouping into paragraphs as you see fit. To tag text
                        using the keyboard, use the shortcut Ctrl-J. To untag text, use
                        the shortcut Ctrl-K.{{/tr}}
                    </div>
                </div>
                <div class="span6">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#imagesPane" data-toggle="tab">{{#tr 'label.images'}}Images{{/tr}}</a></li>
                        <li><a href="#linksPane" data-toggle="tab">{{#tr 'label.links'}}Links{{/tr}}</a></li>
                    </ul>
                    <div id="imagesPane" class="active image-gallery tab-pane">
                        <ul class="image-gallery-thumbnails thumbnails">
                            {{#each record.media}}
                                <li data-id="{{@key}}"><a class="thumbnail" href="{{path}}" data-id="{{@key}}"><img src="{{path}}" title="{{description}}"/></a></li>
                            {{/each}}
                        </ul>
                    </div>
                    <!--@include('components.linkpane')-->
                </div>
            </div>
        </div>
        
        <div class="span2 pull-left">
            <div id="sidebarAffix">
                <div id="table-of-contents">
                    <div id="toc-header">
                        {{#tr 'label.tableofcontents'}}Table of Contents{{/tr}}
                    </div>
                    <div id="fieldsTOC"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{{#contentFor 'styles'}}
    <link href="/css/fields.css" media="all" type="text/css" rel="stylesheet">
{{/contentFor}}

{{#contentFor 'modals'}}
    <div id="save-template-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="save-template-label" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="save-template-label">{{#tr 'label.saveastemplate'}}Save as template{{/tr}}</h3>
        </div>
        <div class="modal-body">
            <label>{{#tr 'label.templatename'}}Template name{{/tr}} <input type="text" id="template-name"></input></label>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal">{{#tr 'label.cancel'}}Cancel{{/tr}}</button>
            <button id="save-template-ok" class="btn btn-primary" data-dismiss="modal">{{#tr 'label.save'}}Save{{/tr}}</button>
        </div>
    </div>
    <div id="link-select" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="link-select-label" aria-hidden="true">
    </div>
    <div class="modal hide" id="upload-image-modal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h3>{{#tr 'label.upload'}}Upload image{{/tr}}</h3>
        </div>
        <div class="modal-body">
            <form method="POST" action="/record/{{record.id}}/media" id="upload-image-modal-form" enctype="multipart/form-data">
                <label for="image">{{#tr 'label.image'}}Image{{/tr}}</label>
                <input type="file" placeholder="{{#tr 'label.chooseimage'}}Choose an image to upload{{/tr}}" name="media" id="image-image" />
                <label for="description">{{#tr 'label.description'}}Description{{/tr}}</label>
                <textarea placeholder="{{#tr 'label.describeimage'}}Describe your image in a few sentences{{/tr}}" name="description" id="image-description" class="span5"></textarea>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal">{{#tr 'label.cancel'}}Cancel{{/tr}}</button>
            <button id="upload-image-ok" class="btn btn-primary" data-dismiss="modal">{{#tr 'label.upload'}}Upload{{/tr}}</button>
        </div>
    </div>
{{/contentFor}}

{{#contentFor 'javascript'}}
    <script type='text/javascript' src='/js/recordEditor.js'></script>
    <script type='text/javascript' src='/lib/js/shortcut.js'></script>
    <script type='text/javascript' src='/lib/js/rangy/rangy-core.js'></script>
    <script type='text/javascript' src='/lib/js/rangy/rangy-cssclassapplier.js'></script>
    <script type='text/javascript' src='/lib/js/rangy/rangy-selectionsaverestore.js'></script>
    <script type='text/javascript' src='/lib/js/jstree/jquery.jstree.js'></script>
    <script type="text/javascript">
    {{#if record.id}}
        document.record = {
            id: '{{record.id}}',
            format: '{{record.format}}',
        };
    {{else}}
        document.record = {
            format: 'bnjson',
        };
    {{/if}}

    var labeltofieldlookup = {
        {{#each fields}}
            "{{label}}": "{{schema}}_{{name}}",
        {{/each}}
        };
    var fieldlist = {
        {{#each fields}}
            "{{schema}}_{{name}}": {
                'label': "{{label}}",
                'link': '{{link}}',
                'id': '{{id}}',
            },
        {{/each}}
        };
    var currentSelection;
    $(document).ready(function() {
        initializeEditor();

        $('.new-record').click(function () {
            if ($('body').hasClass('unsaved-changes')) {
                $('#confirmLabel').text("{{#tr 'label.confirmnew'}}Confirm new record{{/tr}}");
                $('#confirmBody').text("{{#tr 'message.confirmnew'}}Are you sure you want to create a new record?{{/tr}}");
                $('#confirmOK').attr('data-callback', $(this).attr('id'));
                $('#confirm').modal('show');
            } else {
                $(this).trigger('confirmed');
            }
            return false;
        });
        $('.new-record').on('confirmed', function() {
            window.location = $(this).attr('href');
        });

        $('#table-of-contents').on('show hide click', function() {
            $(this).css('height', 'auto');
        });

        $('#recordContainer').on('mouseenter', 'span, a', null, function() {
            var fieldentry = $('#fieldsTOC .fieldEntry[data-match="' + $(this).attr('data-match') + '"]');
            $('#fieldsTOC').jstree('open_node', fieldentry);
            $('#fieldsTOC').jstree('select_node', fieldentry);
            return false;
        }).on('mouseleave', 'span, a', null, function() {
            $('#fieldsTOC').jstree('deselect_node', $('#fieldsTOC .fieldEntry[data-match="' + $(this).attr('data-match') + '"]'));
            return false;
        });

        updateFieldsTOCTree();
    });

    $(window).load(function() {
        shortcut.add('Ctrl+J', newTag);
        shortcut.add('Ctrl+K', closeTag);
        shortcut.add('Ctrl+Shift+J', closeAndOpenTag);
        shortcut.add('Ctrl+Shift+K', closeAllTags);
        shortcut.add('Ctrl+Return', saveRecord);
    });

    </script>
{{/contentFor}}
