<div id="content" class="container-fluid">
    <div class="row-fluid">
        <div class="span10 pull-right">
            <div class="span7">
            <!--@if ($records && $paginator->results)-->
                <div id="sortings">
                    <!--@include ('components.sortings')-->
                </div>
            <!--@endif-->
            <hr class="breadcrumb-divider"/>
            </div>
        </div>
   </div>
    <div class="row-fluid">
        <div class="span10 pull-right">
            <div class="row-fluid search-scroller">
                <div class="leftPane">
                    <h3>{{listtitle}}</h3>
                    {{> results}}
                    <div class="instructions instructions-below">
                        <span class="instruction-label">Hint:</span>
                        All list pages in Biblionarrator are designed to have a consistent
                        interface. On the controlbar you will find the following options:
                        <ul>
                            <li>The &#8220;Download&#8221; button allows you to save the items
                            on the list to your desktop for future reference</li>
                            <li>The &#8220;Add page&#8221; button will add all the items on
                            this page to your bookmarks or a saved list</li>
                            <li>The &#8220;Add results&#8221; button adds all the results to
                            your bookmarks or a saved list</li>
                        </ul>
                        You can also work with records directly from the list page:
                        <ul>
                            <li><i class="icon-eye-open"></i> will show you a preview of the
                            record</li>
                            <!--<li><i class="icon-comment"></i> shows you the comments on a
                            record and gives you the chance to add your own</li>-->
                            <!--@if (strpos(URL::current(), 'bookmark'))-->
                                <li><i class="icon-remove"></i> will remove a record from your bookmarks</li>
                            <!--@else-->
                                <li><i class="icon-bookmark"></i> will bookmark a record</li>
                            <!--@endif-->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{#contentFor 'styles'}}
    <link href="/css/fields.css" media="all" type="text/css" rel="stylesheet">
{{/contentFor}}

{{#contentFor 'controlbar'}}
    <li class="dropdown"><a href="#" id="dropdown-download-results" data-toggle="dropdown" class="dropdown-toggle">Download<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a target="_blank" href="{{url}}/snippets" id="download-citations-html">Citations (HTML)</a></li>
            <li><a target="_blank" href="{{url}}" id="download-full-html">Full list (HTML)</a></li>
        </ul>
    </li>
    <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Add page<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li class="hide-on-bookmarks"><a href="{{url}}/bookmarkpage">To bookmarks</a></li>
        </ul>
    </li>
    <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Add results<b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li class="hide-on-bookmarks"><a href="{{url}}/bookmarkall">To bookmarks</a></li>
        </ul>
    </li>
{{/contentFor}}

{{#contentFor 'javascript'}}
<script type="text/javascript">
$(document).ready(function() {
    $('body').on('click', '.preview', null, function() {
        var button = this;
        if ($(button).hasClass('open')) {
            $(button).parents('td').find('section').each(function () {
                $(this).slideUp('fast', function () {
                    $(button).removeClass('open');
                });
            });
        } else {
            $(button).parents('td').find('section').each(function () {
                $(this).slideDown('fast', function () {
                    $(button).addClass('open');
                });
            });
        }
    });
    $('#sortings').on('change', '#add-sort', null, function() {
        if ($(this).find(':selected').val()) {
            window.location.href = addQueryStringParameter(document.URL, 'sort[]', $(this).find(':selected').val());
        }
    });
    $('#perpage').change(function () {
        window.location.href = updateQueryStringParameter(document.URL, 'perpage', $(this).find(':selected').val());
    });
    $('.add-bookmark').click(function() {
        addBookmark($(this).parents('tr').attr('data-id'));
        return false;
    });
    $('body').on('click', '.explore-links', null, function() {
        var row = $(this).parents('tr');
        $.ajax({
            url: '/record/' + $(row).attr('data-id') + '/links'
        }).done(function (data) {
            if ($(row).parents('.leftPane').length > 0) {
                $('tr.browsing').removeClass('browsing');
                $('.rightPane').remove();
            } else {
                window.scrollTo(0, 0);
                $('.leftPane').remove();
                $('.rightPane').removeClass('rightPane').addClass('leftPane').css('margin-top', '0');
            }
            $(row).addClass('browsing');
            $('.search-scroller').append('<div class="rightPane" style="margin-top: ' + $(window).scrollTop() + 'px">' + data + '</div>');
        });
    });
});

</script>
{{/contentFor}}
